server:
  port: 8080
spring:
  application:
    name: bootweb
  datasource:
    url: jdbc:mysql://192.168.50.138:3306/stdb
    username: stu
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  mvc:
    view:
      prefix: /jsps/
      suffix: .jsp
  redis:
    cluster:
      nodes:
        - 192.168.136.145:6381
        - 192.168.136.145:6382
        - 192.168.136.145:6383
      max-redirects: 3
    timeout: 5000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0
  kafka:
    bootstrap-servers: 192.168.136.145:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3
      batch-size: 16384
      linger:
        ms: 1
      buffer-memory: 33554432
      properties:
        enable.idempotence: true
    consumer:
      group-id: my-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: false
      auto-commit-interval: 1000
      max-poll-records: 500
      properties:
        session.timeout.ms: 30000
        heartbeat.interval.ms: 1000
        max.poll.interval.ms: 300000
    listener:
      type: batch
      concurrency: 3
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.136.143
        server-port: 8081
      config:
        server-addr: 192.168.136.143
        server-port: 8080
  config:
    import: nacos:bootweb.properties?group=DEFAULT_GROUP
mybatis:
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml